<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xsi:schemaLocation="http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo-3.0.xsd
							http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- Definition of a host running remotely without authentication enabled, with a custom max-pool-size -->
    <mongo:mongo-client host="127.0.0.1" port="59393" id="defaultMongoHost">
		<mongo:client-settings connection-pool-max-size="500" />
    </mongo:mongo-client>
    
	<!-- Definition of a host with authentication enabled -->
 	<mongo:mongo-client host="rogna.cirad.fr" port="37017" id="rognaDEV" credential="gigwa:_G9I1G9W3A6_@admin">
		<mongo:client-settings connection-pool-max-size="500" />
    </mongo:mongo-client>
	
    <!-- Definition of a host with authentication enabled -->
 	<mongo:mongo-client host="rogna.cirad.fr" port="27017" id="rognaLIVE" credential="gigwa:_G9I1G9W3A6_@admin">
                <mongo:client-settings connection-pool-max-size="500" />
    </mongo:mongo-client>
</beans>