// Inserting the main palette into the Bootstrap variables
$primary: #13a538; // Dark green
$secondary: #e6007e; // Pink
$success: #95c11f; // Light green
$warning: #dedc00; // Yellow

// Additional colors
$danger: #ac2020; // Dark red
$info: #19579f; // Petroleum blue
$black: #000000; // Black
$white: #ffffff; // White
$dark-gray: #333333; // Dark gray
$light-gray: #bdbdbd; // Light gray

// Ocean Palette
$ocean-blue: #19579f; // Petroleum blue
$ocean-purple: #6a1b9a; // Intense purple
$ocean-orange: #f59300; // Vibrant orange
$ocean-red: #ac2020; // Dark red
$ocean-green: #007175; // Soft green

// Sunset Palette
$sunset-blue: #19579f; // Petroleum blue
$sunset-orange: #c24a00; // Intense orange
$sunset-purple: #8e24aa; // Lilac purple
$sunset-red: #ff3300; // Bright red
$sunset-sky: #00b0f0; // Sky blue

// Electric Palette
$electric-blue: #0533ff; // Intense blue
$electric-purple: #8e24aa; // Lilac purple
$electric-orange: #f59300; // Vibrant orange
$electric-red: #ac2020; // Dark red
$electric-sky: #00b0f0; // Sky blue

// Twilight Palette
$twilight-green: #007175; // Soft green
$twilight-red: #ac2020; // Dark red
$twilight-yellow: #ffc000; // Golden yellow
$twilight-blue: #0533ff; // Intense blue
$twilight-purple: #8e24aa; // Lilac purple

// Harmony Palette
$harmony-blue: #0533ff; // Intense blue
$harmony-purple: #8e24aa; // Lilac purple
$harmony-green: #007175; // Soft green
$harmony-red: #ac2020; // Dark red
$harmony-orange: #f59300; // Vibrant orange

// Skyfire Palette
$skyfire-blue: #00b0f0; // Sky blue
$skyfire-purple: #8e24aa; // Lilac purple
$skyfire-green: #007175; // Soft green
$skyfire-red: #ff3300; // Bright red
$skyfire-orange: #f59300; // Vibrant orange

// Breeze Palette
$breeze-blue: #0533ff; // Intense blue
$breeze-purple: #8e24aa; // Lilac purple
$breeze-green: #007175; // Soft green
$breeze-red: #ff3300; // Bright red
$breeze-sky: #00b0f0; // Sky blue

// Calm Palette
$calm-blue: #00b0f0; // Sky blue
$calm-purple: #8e24aa; // Lilac purple
$calm-green: #007175; // Soft green
$calm-red: #ac2020; // Dark red
$calm-orange: #f59300; // Vibrant orange

// Golden Palette
$golden-blue: #0533ff; // Intense blue
$golden-purple: #8e24aa; // Lilac purple
$golden-green: #007175; // Soft green
$golden-red: #ff3300; // Bright red
$golden-yellow: #ffc000; // Golden yellow

// Vibrant Palette
$vibrant-info: #19579f; // Petroleum blue
$vibrant-blue: #335cff; // Vibrant blue
$vibrant-orange: #b55c0d; // Soft orange
$vibrant-purple: #673ab7; // Soft purple
$vibrant-green: #007185; // Dark green

// Soft Palette
$soft-info: #19579f; // Petroleum blue
$soft-purple: #8e24aa; // Lilac purple
$soft-orange: #b55c0d; // Soft orange
$soft-blue: #0533ff; // Intense blue
$soft-green: #007175; // Soft green

// Elegant Palette
$elegant-info: #19579f; // Petroleum blue
$elegant-purple: #6a1b9a; // Intense purple
$elegant-orange: #c24a00; // Soft orange
$elegant-blue: #3f51b5; // Classic blue
$elegant-green: #007185; // Dark green

// Energetic Palette
$energetic-blue: #335cff; // Vibrant blue
$energetic-orange: #b55c0d; // Soft orange
$energetic-purple: #673ab7; // Soft purple
$energetic-info: #19579f; // Petroleum blue
$energetic-violet: #7c4dff; // Vibrant purple

// Serene Palette
$serene-info: #19579f; // Petroleum blue
$serene-orange: #c24a00; // Intense orange
$serene-green: #007185; // Dark green
$serene-purple: #8e24aa; // Lilac purple
$serene-soft-purple: #673ab7; // Soft purple
